<% if current_user %>
  <section class="sticky-top admin">
    <%= link_to "+ Add Movie", new_movie_path, class: "btn btn-outline-primary" %>
  </section>
<% end %>
<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
      <%= main_image(movie) %>
    </div>

    <div class="summary">
      <% if movie.released_on < Time.now %>
        <h2>
          <%= link_to movie.title, movie %>
        </h2>
        <h3><%= total_gross(movie) %></h3>
        <%= render "shared/stars", object: movie %>
        <% else %>
          <h3>Not released yet</h3>
      <% end %>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

