<div class="custom_bg">
  <section class="movie-details">
    <div class="image">
      <%= main_image(@movie) %>
    </div>
    <div class="details">
      <div class="titles">
        <h1><%= @movie.title %> (<%= year_of(@movie) %>)</h1>
        <h6 class="font-weight-light">
          <span class="badge badge-primary" style="background-color: #212529;">
            <%= @movie.rating %>
          </span> &bull; 
          <%= @movie.released_on.to_fs(:rfc822) %> &bull;
          <% @genres.each do |genre| %>
            <%= link_to genre.name, genre %> &bull;
          <% end %> 
          <%= @movie.duration %> minutes &bull;
          <%= total_gross(@movie) %>
        </h6>
        <h3 style="font-style: italic;"><%= @movie.tagline %></h3>
      </div>

      <!-- ACTIONS -->
      <div class="actions">
        <% if current_user %>
          <span class="action-item-avg-stars">
            <%= link_to @movie.average_stars, new_movie_review_path(@movie), 
              class: "user-action-btn", 
              title: "Review #{@movie.title}",
              alt: "Link to review #{@movie.title}" %>
          </span>
          <span class="action-item-watchlist">
            <%= button_to icon('fa-solid fa-list fa-xl', 
                               class: 'fa-xl'), 
                               @movie, 
                               class: 'user-action-btn', 
                               title: "Add #{@movie.title} to Watchlist",
                               alt: "Link to add #{@movie.title} to watchlist" %>
          </span>
          <span class="action-item-fave">
            <%= fave_unfave_button(@movie, @favourite) %>
          </span>
          <span class="action-item-rate">
            <%= link_to icon('fa-solid fa-star fa-xl', 
                               class: 'fa-xl'), 
                               new_movie_review_path(@movie), 
                               class: 'user-action-btn',
                               title: "Rate #{@movie.title}",
                               alt: "Link to rate #{@movie.title}" %>
          </span>
          <span class="action-item-rate">
            <%= button_to icon('fa-solid fa-clapperboard fa-xl', 
                               class: 'fa-xl'), 
                               "https://", 
                               class: 'user-action-btn', 
                               title: "Trailer for #{@movie.title}", 
                               alt: 'Link to movie trailer' %>
          </span>
        <% end %>
      </div>

      <!-- OVERVIEW -->
      <div class="overview">
        <h3>Synopsis</h3>
        <%= @movie.description %>
      </div>

      <!-- CAST AND CREW -->
      <div class="cast-crew">
        <h3>Cast &amp; Crew</h3>
        <span class="badge" style="background-color: #212529;">Director</span> <%= @movie.director %>
      </div>
      
      <% if @fans.present? %>
        <div class="fans">
          <h3>Fans (<%= @fans.size %>)</h3>
          <% @fans.each do |user| %>
            <span>
              <%= link_to profile_image(user, 35), user, title: "#{user.username}" %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div> <!--END OF DETAILS -->
  </section> <!-- END OF MOVIE DETAILS SECTION -->
</div> <!-- END OF ROW -->

<% if @reviews.many? %>
  <div class="row reviews">
    <div class="card" style="width: 100%;">
      <h5 class="card-header">Featured Review</h5>
      <div class="card-body">
        <h5 class="card-title"><%= @reviews.first.headline %>
        <span class="badge" style="background-color: #212529;">
          <i class="fa-sharp fa-solid fa-star fa-xs" style="color: #f6d32d"></i>
          <%= @reviews.first.stars %>
        </span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <span style="font-size: 0.9rem; font-weight: 300;">Written by <%= @reviews.first.user.name %> on <%= @reviews.first.created_at.to_fs(:long_ordinal) %>
        </h6>
        <p><%= @reviews.first.comment %></p>
      </div>
    </div>
    <div class="container" style="margin-top: 20px;">
      <%= link_to "More Reviews", movie_reviews_path(@movie), 
          class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %> 

<% unless @user_reviewed %>
  <div class="review">
    <%= render "shared/review" %>
  </div>
<% end %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Delete", @movie, class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </section>
<% end %>
