<h3 style="margin-top: 1rem;">Review <%= @movie.title %></h3>

<div class="form-group" style="width: 100%;">
<%= form_with(model: [@movie, @review]) do |f| %>

  <%= render "shared/errors", object: @review %>

  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= f.label :headline %>
  <%= f.text_field :headline %>

  <%= f.label :comment %>
  <%= f.text_area :comment, cols: 30, rows: 20 %>

  <%= f.submit %>
  
<% end %>
</div>
