<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
  <% @reviews.each do |r| %>
    <section class="user">
  <div class="review">
    <div class="details">
      <span class="profile-image">
        <%= profile_image(r.user, 35) %>
      </span>
      <span class="title">
        <%= link_to r.user.username, r.user %>
      </span>
      <span class="date">
        <%= time_ago_in_words(r.created_at) %> ago
      </span>
      <%= render "shared/stars", percent: r.stars_as_percent %>
      <p>
        <%= r.comment %>
        <% if r.user == current_user %>
          <%= link_to "Edit review", edit_movie_review_path(r.movie.slug, r.id) %>
        <% end %>
      </p>
    </div>
  </div>
    </section>
    <% end %>
